@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="float: right; width: 300px">
    @Html.Partial("_SecurityEvents")
</div>
@Html.ActionLink("Unsuccessful login attempt", "UnsuccessfulLoginAttempt");